@import ".themes/colors.css";

* {
  font-family: "0xProtoNerd";
  color: @text;
  background: transparent;
}

#window {
  background: @bg;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid @primary;
}

#input {
    margin: 10px;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    color: @text;
    background-color: @bg;
}

#outer-box {
  padding: 5px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: @mantle;
}

#text {
  margin: 2px;
}

#prompt {
    color: @text;
    font-size: 14px;
    padding: 5px 10px;
}
