@define-color	rosewater #f5e0dc;
@define-color	rosewater-rgb rgba(245, 224, 220, 0.7);
@define-color	flamingo #f2cdcd;
@define-color	flamingo-rgb rgba(242, 205, 205, 0.7);
@define-color	pink #f5c2e7;
@define-color	pink-rgb rgba(245, 194, 231, 0.7);
@define-color	mauve #cba6f7;
@define-color	mauve-rgb rgba(203, 166, 247, 0.7);
@define-color	red #f38ba8;
@define-color	red-rgb rgba(243, 139, 168, 0.7);
@define-color	maroon #eba0ac;
@define-color	maroon-rgb rgba(235, 0.7, 172, 0.7);
@define-color	peach #fab387;
@define-color	peach-rgb rgba(250, 179, 135, 0.7);
@define-color	yellow #f9e2af;
@define-color	yellow-rgb rgba(249, 226, 175, 0.7);
@define-color	green #a6e3a1;
@define-color	green-rgb rgba(166, 227, 161, 0.7);
@define-color	teal #94e2d5;
@define-color	teal-rgb rgba(148, 226, 213, 0.7);
@define-color	sky #89dceb;
@define-color	sky-rgb rgba(137, 220, 235, 0.7);
@define-color	sapphire #74c7ec;
@define-color	sapphire-rgb rgba(116, 199, 236, 0.7);
@define-color	blue #89b4fa;
@define-color	blue-rgb rgba(137, 0.7, 250, 0.7);
@define-color	lavender #b4befe;
@define-color	lavender-rgb rgba(0.7, 0.7, 254, 0.7);
@define-color	text #cdd6f4;
@define-color	text-rgb rgba(205, 214, 244, 0.7);
@define-color	subtext1 #bac2de;
@define-color	subtext1-rgb rgba(186, 194, 222, 0.7);
@define-color	subtext0 #a6adc8;
@define-color	subtext0-rgb rgba(166, 173, 200, 0.7);
@define-color	overlay2 #9399b2;
@define-color	overlay2-rgb rgba(147, 153, 178, 0.7);
@define-color	overlay1 #7f849c;
@define-color	overlay1-rgb rgba(127, 132, 156, 0.7);
@define-color	overlay0 #6c7086;
@define-color	overlay0-rgb rgba(108, 112, 134, 0.7);
@define-color	surface2 #585b70;
@define-color	surface2-rgb rgba(88, 91, 112, 0.7);
@define-color	surface1 #45475a;
@define-color	surface1-rgb rgba(69, 71, 90, 0.7);
@define-color	surface0 #313244;
@define-color	surface0-rgb rgba(49, 50, 68, 0.7);
@define-color	base #1e1e2e;
@define-color	base-rgb rgba(30, 30, 46, 0.7);
@define-color	mantle #181825;
@define-color	mantle-rgb rgba(24, 24, 37, 0.7);
@define-color	crust #11111b;
@define-color	crust-rgb rgba(17, 17, 27, 0.2);

* {
  font-family: "0xProtoNerd";
  color: @text;
  background: transparent;
}

#window {
  background: @base-rgb;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid @sapphire;
}

#input {
    margin: 10px;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    color: @text;
    background-color: @surface0;
}

#outer-box {
  padding: 5px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: @mantle;
}

#text {
  margin: 2px;
}

#prompt {
    color: @text;
    font-size: 14px;
    padding: 5px 10px;
}
