/* ================================ */
/*               Colors             */
/* ================================ */

/*base: #1e1e2e */
/*mantle: #181825 */
/*crust: #11111b */
/*text: #cdd6f4 */
/*subtext0: #a6adc8 */
/*subtext1: #bac2de */
/*surface0: #313244 */
/*surface1: #45475a */
/*surface2: #585b70 */
/*overlay0: #6c7086 */
/*overlay1: #7f849c */
/*overlay2: #9399b2 */
/*blue: #89b4fa */
/*lavender: #b4befe */
/*sapphire: #74c7ec */
/*hyprland: #458588 */
/*sky: #89dceb */
/*teal: #94e2d5 */
/*green: #a6e3a1 */
/*yellow:#f9e2af */
/*peach: #fab387 */
/*maroon:#eba0ac */
/*red: #f38ba8 */
/*mauve: #cba6f7 */
/*pink: #f5c2e7 */
/*flamingo: #f2cdcd */
/*rosewater: #f5e0dc */
/*transparent: #ff00000 */


/* ================================ */
/*            Common CSS            */
/* ================================ */

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: #1e1e2e;
  /* base */
  color: #cdd6f4;
  /* text */
  padding-right: 9px;
  padding-left: 5px;
  margin: 0;
  border-radius: 19px;
}

tooltip {
  background: #313244;
  /* surface0 com 80% de opacidade */
  color: #cdd6f4;
  /* text */
  border: 2px solid #45475a;
  /* surface1 */
  border-radius: 5px;
}

.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
  color: #cdd6f4;
  /* text */
  background: #1e1e2e;
  /* surface0 */
  border-radius: 2px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #cdd6f4;
  /* text */
  background: #1e1e2e;
  /* surface0 */
  min-width: 25px;
  padding: 0 4px;
  margin: 5px 3px;
}

#workspaces button:hover {
  background: #45475a;
  /* surface1 */
  border: 2px solid #a6e3a1;
  /* green */
}

#workspaces button.visible {
  border: 2px solid #89b4fa;
  /* blue */
  background: #45475a;
  /* surface1 */
}

#workspaces button.active {
  border: 2px solid #a6e3a1;
  /* green */
  background: #45475a;
  /* surface1 */
}

#workspaces button.urgent {
  border: 2px solid #f38ba8;
  /* red */
  background: #45475a;
  /* surface1 */
}

/* ================================ */
/*            window                */
/* ================================ */
#window {
  color: #a6adc8;
  /* subtext0 */
  background: #1e1e2e;
  /* surface0 */
}

/* ================================ */
/*            tray                  */
/* ================================ */
#tray {
  background: #1e1e2e;
  /* surface0 */
}

/* ================================ */
/*            disk                  */
/* ================================ */
#disk {
  color: #f38ba8;
  /* red */
  border: 2px solid #f38ba8;
  /* red */
}

/* ================================ */
/*            cpu                   */
/* ================================ */
#cpu {
  color: #fab387;
  /* peach */
  border: 2px solid #fab387;
  /* peach */
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  color: #f9e2af;
  /* yellow */
  border: 2px solid #f9e2af;
  /* yellow */
}

#temperature.critical {
  color: #f38ba8;
  /* red */
  border: 2px solid #f38ba8;
  /* red */
}

/* ================================ */
/*            backlight             */
/* ================================ */
#custom-backlight {
  color: #f9e2af;
  /* sky */
  background: #1e1e2e;
  /* surface0 */
}

/* ================================ */
/*            memory                */
/* ================================ */
#custom-memory {
  color: #cba6f7;
  /* mauve */
  border: 2px solid #cba6f7;
  /* mauve */
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: #cdd6f4;
  /* text */
  background: #1e1e2e;
  /* surface0 */
}

#pulseaudio.muted {
  color: #a6adc8;
  /* subtext0 */
  background: #1e1e2e;
  /* surface0 */
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: #a6e3a1;
  /* green */
  background: #1e1e2e;
  /* surface0 */
}

#battery.critical {
  color: #f38ba8;
  /* red */
  background: #1e1e2e;
  /* surface0 */
}

#battery.warning {
  color: #f9e2af;
  /* yellow */
  background: #1e1e2e;
  /* surface0 */
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: #74c7ec;
  /* sapphire */
  background: #1e1e2e;
  /* surface0 */
}

#clock.date {
  color: #b4befe;
  /* lavender */
  background: #1e1e2e;
  /* surface0 */
}

#custom-notification {
  color: #f5c2e7;
  /* pink */
  background: #1e1e2e;
  /* surface0 */
}

#custom-player {
  color: #1e1e2e;
  /* base */
  background: #f5e0dc;
  /* rosewater */
  border: 2px solid #313244;
  /* surface0 */
}
